html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Heebo', sans-serif;
    
}

/* .welcom {
} */

.welcom-box {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 964px;
    align-items: center;
    margin: auto;
    background-color: black;
    color: white;
}

.health-day {
    height: 964px;
    overflow-x: hidden;
}

.arrow:hover {
    background-color: rgb(90, 90, 90);
    
}

.arrow {
    height:30px;
    width:30px;
    cursor: pointer;
    margin: auto;
    transition: 1s;
    border-radius: 50%;
    margin-top: 30%;
}

.yakor {
    text-decoration: none;
}


.arrow-down {
    height:20px;
    width:20px;
    position: relative;
    left: calc(100% - 25px);
    top: calc(100% - 25px);
}

.video {
    object-fit: cover;
    width: 951px; 
    height: 964px;
    display: block;
    position: relative;
    z-index: 1;
}

/* .play-video-ferst:hover {
    background-color: rgba(255, 255, 255, 0.397);
} */

.play-video-ferst {
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: 1s;
    margin-top: -6%;
    margin-left: 4%;
    position: relative;
    z-index: 10;
    display: block;
    background-color: rgba(255, 255, 255, 0.397);
}

.play-welcom-video {
    height: 20px;
    width: 20px;
    left: calc(100% - 23px);
    top: calc(100% - 25px);
    position: relative;
}

/* .pause-video-ferst:hover {
    background-color: rgba(255, 255, 255, 0.397);
} */

.pause-video-ferst {
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: 1s;
    position: relative;
    z-index: 100;
    margin-left: 4%;
    margin-top: -6%;
    display: none;
    background-color: rgba(255, 255, 255, 0.397);
}


.pause-welcom-video {
    height: 25px;
    width: 25px;
    left: calc(100% - 28px);
    top: calc(100% - 27px);
    position: relative;
}


.day-this {
    
    font-size: 64px;
    text-align: center;
    margin-top: 35%;
    
}

.health-video {
    background-color: lightgray;
    height: 964px;
}

/* What this day */

.what-this {
    /* height: 964px; */
    /* background-color: rgb(212, 209, 209); */
    background-color: white;
}

.title-box-what {
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    padding-top: 5%;
    font-weight: 500;
}

.slider-box {
    display: flex;
    justify-content: space-evenly;
    margin:auto;
    
}

.item {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    border-radius: 3%;
    position: relative;
    z-index: 1;
    
}

.pictures {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.text-day {
    text-align: center;
    width: 900px;
    font-size: 30px;
    margin: auto;
    margin-top: 5%;
    font-weight: 300;
}



.right-left {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    top: 270px;
    position: relative;
}

.left:hover {
    opacity: 0.5;
}

.right:hover {
    opacity: 0.5;
}

.left {
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    cursor: pointer;
    position: relative;
}

.right {
    width: 50px;
    height: 50px;
    transform: rotate(270deg);
    cursor: pointer;
    position: relative;
}



/* More information */

.more-information {
    height: 1130px;
    
}

.box-video {
    width: 1710px;
    height: 840px;
    background-color: lightgray;
    border-radius: 20px;
    margin:auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

.title-box-video {
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    padding-top: 5%;
    font-weight: 500;
}

.video-visitka {
    object-fit: cover;
    width: 1710px;
    height: 840px;
    border-radius: 20px;
}